# Build output
lib/
*.pdb
*.ilk
*.scr

# Visual Studio per user data
*.suo
*.user
*.opensdf
*.sdf

# Matrix Example
examples/Matrix/Debug/
examples/Matrix/Release/
examples/Matrix/ipch/
examples/Matrix/log.txt

# PhotoViewer Example
examples/PhotoViewer/Debug/
examples/PhotoViewer/Release/
examples/PhotoViewer/Runner/Debug/
examples/PhotoViewer/Runner/Release/
examples/PhotoViewer/ipch/
examples/PhotoViewer/log.txt

# TerrainDemo Example
examples/TerrainDemo/Debug/
examples/TerrainDemo/Release/
examples/PhotoViewer/ipch/
examples/TerrainDemo/log.txt
